<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <%- include('partials/head') %>
  </head>
  <body>
        <%- include('partials/navigation') %>
        <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center ">
          <section>
            <h1 class="display-1">About</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae ipsa provident reprehenderit quas accusantium delectus odio maiores? Consequuntur dolorem assumenda eum id labore reiciendis porro excepturi aspernatur earum repellendus laudantium eos voluptas repudiandae ea provident mollitia soluta tempora harum, quam perspiciatis cupiditate? Dignissimos at, eos ipsa blanditiis cum laudantium ullam repellat voluptas dolores consequuntur possimus quasi impedit accusamus ex. Dicta aliquam sed laboriosam distinctio omnis dolorem cupiditate, repudiandae quo expedita quisquam saepe? Corporis fugiat, commodi quibusdam nihil animi deleniti harum debitis voluptatum, ea, neque amet quae. Accusamus deserunt suscipit fugit quaerat. Id molestiae libero architecto in exercitationem dolore officiis aut, labore deleniti, repellendus porro. Labore eveniet quisquam molestiae optio illum doloremque error dicta, perspiciatis aliquid similique mollitia ab alias repellendus tempora sit quidem placeat ut accusamus recusandae ipsa fugiat vel dolorum! Beatae maxime iure amet aut fugit earum nesciunt ad officia explicabo provident molestias neque consequuntur, laudantium reprehenderit, fuga inventore!</p>
          </section>
        </main>
        <%- include('partials/footer') %>
  </body>
</html>
