<footer>
  <h1>Lorem, ipsum dolor.</h1>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque fugit
    inventore culpa unde nulla reiciendis fuga officia iste, minima accusantium,
    illo tempora repellat dolores qui maiores vero ratione quos dicta expedita
    sint! Iure, maxime magnam! Eos voluptatem facere doloremque dignissimos
    perferendis. In repellendus animi architecto tempora optio, quaerat
    perferendis dolores maxime ab dolore placeat consequatur, facere
    reprehenderit, cumque illum doloribus laboriosam laudantium voluptatibus
    inventore? Nobis animi placeat nesciunt ullam vero temporibus tenetur modi
    tempore, ea est commodi voluptatum voluptates architecto porro, iusto culpa
    fugiat nam, aspernatur similique! Quo nihil nisi laborum mollitia minima
    voluptatem commodi perspiciatis, omnis qui eum dolorem.
  </p>
</footer>
